@import "flip-card.css";
@import "star-rating.css";

body {
  background-image: url("https://cdn.wallpapersafari.com/80/32/bRBCuL.jpg");
  background-color: rgb(71, 139, 216);
  font-family: 'Lobster', cursive;
  text-shadow: 3px 3px 3px #727b80;

 }

 .center {
   color: white;
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  padding: 1.15rem;
    margin: 0.5rem;
    color: white;
}

.food_img_person{
  height: 300px;
  width: 300px;
}

.food_cody{
  margin-bottom: 3rem;
  background-color: brown;
}

.food_key{
  margin-bottom: 3rem;
  background-color: brown;
}

.food_nick{
  margin-bottom: 3rem;
  background-color: brown;
}

.food_caleb{
  margin-bottom: 3rem;
  background-color: brown;
}

